VITE_API_URL=http://127.0.0.1:8000
VITE_SUPABASE_URL=https://bznwgmbkswpeautpldwg.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImJ6bndnbWJrc3dwZWF1dHBsZHdnIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzY3Nzg2NjgsImV4cCI6MjA5MjM1NDY2OH0.KywQwwnUUxgMscLiLSmiML90D00G_FYQY3KgjTtC0WM
